h1{
    background-color: brown;
    font-size: 50px;
    color: aliceblue;
}
h2{
    font-size: 40px;background-color: brown;
    color: antiquewhite;
    font-size: 45px;
}
body{
    text-align: center;
    font-size: 25px;
    background-color: rgba(204, 168, 115, 0.63);
    
}
ul{
    font-size: 25px;
    text-align: left;
    color: rgb(71, 37, 5);
}
h3{
    color: aliceblue;
    background-color: brown;
    font-size: 45px;
}
h4{
    background-color: brown;
    color: aliceblue;
    font-size: 45px;
}
h5{
    background-color: brown;
    color: aliceblue;
    font-size: 45px;
}
h6{
    background-color: brown;
    color: aliceblue;
    font-size: 45px;
}